:root {
  font-family: monospace;
  font-size: 1.35em;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  /* background-image: url('/assets/pattern.png'), linear-gradient(to bottom right, hsl(166, 78%, 50%), hsl(202, 78%, 50%)); */
  background-size: 100vw;
}

.input::before {
  content: '<\00A0';
}

#terminal {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: stretch;
  background-color: #fff7;
  border-radius: 10px 10px 0 0;
  border: 5px solid lightgray;
  padding: 0 0.5em;
  margin: 40px;
  overflow: auto;
  box-sizing: border-box;
}

#terminal > *:first-child {
  margin-top: auto;
}

/* #terminal::after {
  content: '\00A0';
  height: 0.5em;
} */

#terminal p {
  margin: 0;
  padding: 0.2em 0;
}

#input-line {
  display: flex;
  align-items: center;
}

#input-line::before {
  content: '<\00A0';
  padding-top: 2px;
}

#terminal-line {
  flex: 1;
  font-family: monospace;
  font-size: inherit;
  background-color: #0000;
  border: none;
  padding: 0.2em 0;
}
