:root {
  font-family: monospace;
  font-size: 1.35em;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d6dfff url('/assets/pattern.png') center;
  background-size: 100vw;
}

p {
  margin: 0;
  padding: 0.1em;
}

#terminal {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  flex: 1;
  align-self: stretch;
  background-color: #fff7;
  border-radius: 10px 10px 0 0;
  border: 5px solid lightgray;
  padding: 0.5em;
  margin: 40px;
}

#input-line {
  display: flex;
  align-items: center;
}

#input-line span {
  padding-top: 2px;
}

#terminal-line {
  flex: 1;
  font-family: monospace;
  font-size: inherit;
  background-color: #0000;
  border: none;
  padding: 0.1em;
  padding-left: 0;
}
